* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: deserta;
    src: url(../fonts/Deserta.otf);
}

@font-face {
    font-family: latoReg;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: latoBold;
    src: url(../fonts/Lato-Bold.ttf);
}

:root {
    --highlight: #cf152d;
    --background: #111;
    --background_darker: #0c0c0c;
    --grey: #d2d2d2;
    --white: #fff;
}

html {
    font-size: 10px;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/backgroundIndex.png');
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
}

body .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .container .anim {
    width: 50px;
    position: relative;
    height: 50px;
}

body .container .anim span {
    position: absolute;
    bottom: 0;
    width: 9px;
    height: 0px;
    background-color: var(--background);
    animation: musicAnim 0.8s ease infinite alternate;
}

body .container .anim span::first-child {
    left: 0;
}

body .container .anim span:nth-child(2) {
    left: 10px;
    animation-delay: 0.2s;
}

body .container .anim span:nth-child(3) {
    left: 20px;
    animation-delay: 0.4s;
}

body .container .anim span:nth-child(4) {
    left: 30px;
    animation-delay: 0.6s;
}

body .container .anim span:nth-child(5) {
    left: 40px;
    animation-delay: 0.8s;
}

@keyframes musicAnim {
    0% {
        height: 5px;
    }

    30% {
        height: 20px;
        background-color: var(--highlight);
    }

    60% {
        height: 40px;
        background-color: var(--highlight);
    }

    80% {
        height: 20px;
        background-color: var(--highlight);
    }

    100% {
        height: 5px;
    }
}

body .container h1 {
    font-size: 7.2rem;
    font-family: deserta;
    color: var(--highlight);
    margin-bottom: 2.5rem;
}

body .container a {
    background: var(--highlight);
    font-size: 1.8rem;
    padding: 0.8em 1.6em;
    font-family: latoBold;
    text-decoration: none;
    color: var(--background);
    margin-top: 2.5rem;
    transition: all 0.2s ease-in-out;
}

body .container a:hover {
    color: var(--white);
}