@import 'global.scss';

:root {
    --highlight: #223355;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: $background;

    .player {
        width: 28%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .cover {
            width: 80%;
            height: 55%;
            object-fit: cover;
            border-radius: 0 0 250px 250px;
            box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.5);

        }

        .infos {
            color: var(--highlight);
            margin-top: 3rem;
            margin-bottom: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .artist {
                font-size: 3.2rem;
                font-family: deserta;

            }

            .album {
                font-size: 1.6rem;
                font-family: latoReg;
                color: $grey;
            }

            .song {
                font-size: 2rem;
                font-family: latoBold;

            }

        }

        input[type="range"] {
            -webkit-appearance: none;
            width: 20rem;
            height: 0.9rem;
            background: #C4C4C4;
            border-radius: 5px;
            background-image: linear-gradient(var(--highlight), var(--highlight));
            background-size: 0% 100%;
            background-repeat: no-repeat;
        }

        #durationRange {
            width: 92%;
            margin-bottom: 4rem;
        }

        /* -------------------------------------------------------------------------- */
        /*                                 INPUT THUMB                                */
        /* -------------------------------------------------------------------------- */
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 21px;
            width: 21px;
            border-radius: 50%;
            background: var(--highlight);
        }

        input[type="range"]::-moz-range-thumb {
            -webkit-appearance: none;
            height: 21px;
            width: 21px;
            border-radius: 50%;
            background: var(--highlight);
        }

        input[type="range"]::-ms-thumb {
            -webkit-appearance: none;
            height: 21px;
            width: 21px;
            border-radius: 50%;
            background: var(--highlight);
        }

        #soundControl {


            width: 10rem;
            height: 0.6rem;
            background-size: 50% 100%;
            align-self: flex-start;
            margin-left: 2rem;

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 1.4rem;
                width: 1.4rem;

            }

            &::-moz-range-thumb {
                -webkit-appearance: none;
                height: 1.4rem;
                width: 1.4rem;

            }

            &::-ms-thumb {
                -webkit-appearance: none;
                height: 1.4rem;
                width: 1.4rem;
            }
        }

        input[type="range"]::-webkit-slider-thumb:hover {
            background: var(--highlight);
        }

        input[type="range"]::-moz-range-thumb:hover {
            background: var(--highlight);
        }

        input[type="range"]::-ms-thumb:hover {
            background: var(--highlight);
        }

        /* Input Track */
        input[type=range]::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }

        input[type=range]::-moz-range-track {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }

        input[type="range"]::-ms-track {
            -webkit-appearance: none;
            box-shadow: none;
            border: none;
            background: transparent;
        }

        .commands {
            width: 95%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 3rem;

            .play {
                height: 6rem;
                width: auto;
            }

            .prev,
            .next {
                height: 3rem;
            }

            .loop,
            .shuffle {
                height: 2.2rem;
            }

            svg {
                fill: var(--highlight);
            }

        }
    }

    .main {
        width: 72%;
        height: 100%;
        display: flex;
        flex-direction: column;


        nav {
            width: 100%;
            height: 8rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 4rem;
            padding-right: 4rem;

            h1 {
                font-family: deserta;
                font-size: 4.2rem;
                color: var(--highlight);
            }

            .search {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                input {
                    background: transparent;
                    color: $white;
                    border: 1px $white solid;
                    border-radius: 2rem;
                    height: 2.4rem;
                    font-size: 1.6rem;
                    font-family: latoReg;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }

                svg {
                    cursor: pointer;
                }
            }
        }

        .menu {
            height: calc(100% - 8rem);

            .top {
                h2 {
                    font-family: deserta;
                    font-size: 2.8rem;
                    color: $white;
                }

                .artist_title {
                    margin-top: 4rem;
                }

                .sliders {
                    display: flex;
                    gap: 4rem;
                    overflow: hidden;
                    width: 100%;
                    overflow-x: auto;
                    overscroll-behavior-inline: contain;
                    white-space: nowrap;
                    transition: all 0.2s;
                    transform: scale(0.98);
                    will-change: transform;
                    user-select: none;
                    cursor: grab;
                    scroll-snap-type: inline mandatory;

                    &::-webkit-scrollbar {
                        display: none;
                    }

                    .item {
                        height: 22rem;
                        min-width: 22rem;
                        display: flex;
                        flex-direction: row;
                        border-radius: 4.5rem;
                        background-size: cover;
                        cursor: pointer !important;
                        position: relative;

                        p {
                            font-size: 1.6rem;
                            font-family: latoReg;
                            color: var(--highlight);
                            background: $background;
                            position: absolute;
                            top: 3.5rem;
                            left: 0;
                            padding: 0.4em 0.8em;
                        }
                    }

                    .item_artist {
                        height: 28rem;
                        min-width: 22rem;
                        display: flex;
                        flex-direction: row;
                        border-radius: 4.5rem;
                        background-size: cover;
                        background-position: center center;
                        cursor: pointer !important;
                        position: relative;

                        p {
                            font-size: 1.6rem;
                            font-family: latoReg;
                            color: var(--highlight);
                            background: $background;
                            position: absolute;
                            top: 3.5rem;
                            left: 0;
                            padding: 0.4em 0.8em;
                        }
                    }
                }
            }
        }
    }

}