/* m:650 / t:950 */

@media screen and (max-width: 640px) {
    body {
        flex-direction: column;
        position: relative;
    }

    html {
        font-size: 8px;

    }

    body .player {
        width: 100%;
        height: 100vh;
    }

    body .player .cover {
        height: 57%;
    }

    body .main {
        display: none;
        width: 100%;
    }

    body .main nav .search {
        display: none;
    }

    body .main nav h1 {
        font-size: 2.6rem;
    }

    .toggleMobile {
        display: block;
        transition: all 0.3s ease-out;
        height: 50px;
        width: 50px;
        position: absolute;
        bottom: 15px;
        right: 15px;
        z-index: 5000;
        color: var(--highlight);
    }

    .toggleMobile * {
        transition: all 0.3s ease-out;
        color: var(--highlight);

    }

    body .main .menu .top .sliders .item p {
        font-family: latoBold;
    }

    .songContainer .item_song {
        width: 33rem;
    }

    body .main .menu .top .artist_title {
        margin-top: 20rem;
    }

    body .main .menu .top h2 {
        margin-top: 3rem;
    }
}