* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: deserta;
    src: url(../fonts/Deserta.otf);
}

@font-face {
    font-family: latoReg;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: latoBold;
    src: url(../fonts/Lato-Bold.ttf);
}

:root {
    --highlight: #cf152d;
    --background: #111;
    --background_darker: #0c0c0c;
    --grey: #d2d2d2;
    --white: #fff;
}

html {
    font-size: 10px;
}


body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--background);
    transition: background-color 0.3s ease-out;
}

body .player {
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

body .player .cover {
    width: 80%;
    height: 55%;
    object-fit: cover;
    border-radius: 0 0 250px 250px;
    box-shadow: 8px 10px 20px 0px rgba(0, 0, 0, 0.5);
}

body .player .infos {
    color: var(--highlight);
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body .player .infos .artist {
    font-size: 3.2rem;
    font-family: deserta;
}

body .player .infos .album {
    font-size: 1.6rem;
    font-family: latoReg;
    color: var(--grey);
}

body .player .infos .song {
    font-size: 2rem;
    font-family: latoBold;
}

body .player input[type="range"] {
    -webkit-appearance: none;
    width: 20rem;
    height: 0.9rem;
    background: #c4c4c4;
    border-radius: 5px;
    background-image: linear-gradient(var(--highlight), var(--highlight));
    background-size: 0% 100%;
    background-repeat: no-repeat;
}

body .player #durationRange {
    width: 92%;
    margin-bottom: 4rem;
}

body .player input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
    background: var(--highlight);
}

body .player input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
    background: var(--highlight);
}

body .player input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;
    background: var(--highlight);
}

body .player #soundControl {
    width: 10rem;
    height: 0.6rem;
    background-size: 50% 100%;
    align-self: flex-start;
    margin-left: 2rem;
}

body .player #soundControl::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.4rem;
    width: 1.4rem;
}

body .player #soundControl::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.4rem;
    width: 1.4rem;
}

body .player #soundControl::-ms-thumb {
    -webkit-appearance: none;
    height: 1.4rem;
    width: 1.4rem;
}

body .player input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--highlight);
}

body .player input[type="range"]::-moz-range-thumb:hover {
    background: var(--highlight);
}

body .player input[type="range"]::-ms-thumb:hover {
    background: var(--highlight);
}

body .player input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

body .player input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

body .player input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

body .player .commands {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

body .player .commands .play,
body .player .commands .pause {
    height: 6rem;
    width: auto;
}

body .player .commands .prev,
body .player .commands .next {
    height: 3rem;
}

body .player .commands .loop,
body .player .commands .shuffle {
    height: 2.2rem;
}

body .player .commands svg {
    fill: var(--highlight);
}

body .main {
    width: 72%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body .main nav {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
}

body .main nav h1 {
    font-family: deserta;
    font-size: 4.2rem;
    color: var(--highlight);
}

body .main nav .navRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 55%;
    justify-content: space-between;
}

body .main nav .search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

body .main nav .search input {
    border-radius: 2rem;
    height: 2.6rem;
    border: none;
    padding-left: 1rem;
    font-family: latoReg;
    background: #555555;
    color: var(--white);
    width: 100%;


}

body .main nav .search svg {
    cursor: pointer;
}

body .main nav .knobs,
body .main nav .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body .main nav .button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    overflow: hidden;
}

body .main nav .button.r,
body .main nav .button.r .layer {
    border-radius: 100px;
}

body .main nav .button.b2 {
    border-radius: 2px;
}

body .main nav .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

body .main nav .knobs {
    z-index: 2;
}

body .main nav .layer {
    width: 100%;
    background-color: #555555;
    transition: 0.3s ease all;
    z-index: 1;
}

body .main nav #button-9 .knobs:before,
body .main nav #button-9 .knobs:after,
body .main nav #button-9 .knobs span {
    position: absolute;
    top: 4px;
    width: 20px;
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    border-radius: 50%;
    transition: 0.4s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

body .main nav #button-9 .knobs:before {
    left: 4px;
}

body .main nav #button-9 .knobs:after {
    right: -24px;
}

body .main nav #button-9 .knobs:before,
body .main nav #button-9 .knobs:after {
    z-index: 2;
}

body .main nav #button-9 .knobs span {
    left: 4px;
    background-image: url('../images/MOON.PNG');
    background-size: contain;
    height: 28px;
    width: 28px;
    z-index: 1;
}

body .main nav #button-9 .checkbox:checked+.knobs:before {
    left: -24px;
}

body .main nav #button-9 .checkbox:checked+.knobs:after {
    right: 4px;
}

body .main nav #button-9 .checkbox:checked+.knobs span {
    left: 42px;
    background-image: url('../images/SUN.PNG');
    background-size: contain;
}

body .main nav #button-9 .checkbox:checked~.layer {
    background-color: #555555;
}

body .main nav .param {
    fill: var(--white);
    height: 3rem;
    width: 3rem;
}

body .main .menu {
    height: calc(100% - 8rem);
}

body .main .menu .top h2 {
    font-family: deserta;
    font-size: 2.8rem;
    color: var(--white);
}

body .main .menu .top .artist_title {
    margin-top: 4rem;
}

body .main .menu .top .sliders {
    display: flex;
    gap: 4rem;
    overflow: hidden;
    width: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: grab;
    scroll-snap-type: inline mandatory;
}

body .main .menu .top .sliders::-webkit-scrollbar {
    display: none;
}

body .main .menu .top .sliders .item {
    height: 22rem;
    min-width: 22rem;
    display: flex;
    flex-direction: row;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer !important;
    position: relative;
}

body .main .menu .top .sliders .item p {
    font-size: 1.6rem;
    font-family: latoReg;
    color: var(--highlight);
    background: var(--background);
    position: absolute;
    bottom: 3.5rem;
    left: -5px;
    padding: 0.4em 0.8em;
    transition: background-color 0.2s ease-out;
}

body .main .menu .top .sliders .item_artist {
    height: 28rem;
    min-width: 22rem;
    display: flex;
    flex-direction: row;
    border-radius: 4.5rem;
    background-size: cover;
    background-position: center center;
    cursor: pointer !important;
    position: relative;
}

body .main .menu .top .sliders .item_artist p {
    font-size: 1.6rem;
    font-family: latoReg;
    color: var(--highlight);
    background: var(--background);
    position: absolute;
    top: 3.5rem;
    left: -5px;
    padding: 0.4em 0.8em;
}

.songContainer {
    display: none;
}

.songContainer .item_song {
    height: 14rem;
    width: 55rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.songContainer .item_song .cover {
    height: 12rem;
    width: 12rem;
    border-radius: 20px;
}

.songContainer .item_song p {
    font-family: latoReg;
    font-size: 2rem;
    color: var(--white);
}

.songContainer .item_song .display_id_song {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

#audioPlayer {
    display: none;
}

.pause {
    display: none;
}

.turning {
    animation: rotating 180s infinite;
}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(36000deg);
    }
}

.allArtist {
    background: rgba(0, 0, 0, 0.5)
}